header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
}

#app{
    background-color: rgb(224, 224, 224);
}

.card-up{
    margin-top: -20vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.c-text{
    color: gray;
    margin-top: 5vh;
}

.bod{
    font-style: italic;
    text-align: center;
}

.custom-card{
    padding: 5%;
    margin-top: -5vh;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px #c7c7c7;
}

.none{
    display: none;
}